.jumbotron
{
  display: flex;
  padding: 32px 24px;
  display: flex;
  width: 100%;
}

img {
  width: 40%;
  height: 620px;
  padding: 20px;
  margin: 10px;
}

.navbar-brand {
font-size: 20px;
font-family: "Great Vibes", cursive;
line-height: 50px;
font-weight: normal;
margin-bottom: 0px;
margin-top: 1px;
text-align: center;
text-shadow: 0 1px 1px #fff;
}

#newItemForm
{
width: 300rem;
padding: 30px 100px;
}

.btn-primary {
  color: #fff;
  background-color: #ffc800;
  border-color: #ffc800;
  margin-top: 18px;
  margin-bottom: 5px;
  height: 50px;
  font-size: 20px;
  font-style: bolder;
}

.btn-primary:hover {
  color: #fff;
  background-color: #d9aa00;
  border-color: #cca000;
}

@media only screen and (max-width: 600px)
{
img
{
display: none;
}
#newItemForm
{
width: 100%;
padding: 0;
margin-top: 20px;
margin: 5px;
}

.btn-primary {
  margin-bottom: 100px;
}
}

@media only screen and (max-width: 900px) {
img
{
display: none;
}
#newItemForm
{
width: 100%;
padding: 0;
margin-top: 20px;
}
.btn-primary {
  margin-bottom: 100px;
}
}